selector { cursor: none; }

html {
	background:black;
}

footer {
	color : white;
    bottom: 0;
    position: absolute;
    width: 100%;

}

figure {
	margin-left: auto;
	margin-right: auto;

}

body {
  cursor: none;
  margin: 0;
  height: 100vh;
}

#loadingbar {
    height:10px;
    left:600px; /* play around with this */
    position:relative;
     /* and play around with this top:-80px; */
    width:0px;
    display: inline-block;
    z-index: 3;

}


#loading {
    height:50px;
    margin-left:auto;
    margin-right:auto;
    position:relative; /* and this has to be relative */
    width:300px;
    top: 100px;


} 



